body {
    text-align: center;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

* {
    /* text-align: inherit; */
    font-family: 'Open Sans', sans-serif;
}

div.uservalue {
    font-size: 14pt;
    font-weight: bold;
    color: darkgreen;
    margin-top: 2ex;
    margin-bottom: 2ex;
    margin-left: 2em;
    background-color: #EEEEEE;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
} 

h1 {
    text-align: center;
}

p, ul, li {
    text-align: left;
    font-size: 16px;
}

p.successful-auth {
    text-align: center;
    font-size: 16px;
}

a {
    background-color: #1695A3;
    padding: 8px;

    border-radius: 6px;
    color: #000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 50%;
    margin-bottom: 30px;
}
